<h1>Stupid coaching</h1>

<p><strong><%= @question%></strong>.</p>
<p><i>-You</i></p>
<br>

<p><%= @answer%> </p>
<p><i>-Your Coach</i></p>
<%= link_to 'Ask another question', ask_path %>
<%= @take_screenshot %>
